/* style.css */
body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f9f9f9;
}

#listagem-h1 {
    text-align: center;
    color: #333;
}

.ong-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    max-width: 1200px;
}

.ong-container {
    width: 300px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.ong-img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.ong-name {
    font-size: 1.2em;
    color: #333;
    margin: 10px 0 5px;
}

.ong-city {
    color: #777;
}

.break-line {
    flex-basis: 100%;
    height: 0;
}

.ong-nome-fantasia {
    font-size: 1.2em;
    margin: 5px 0;
  }
  
  .ong-cidade {
    font-size: 1em;
    color: #555;
  }
